html{
  margin: 0;
  padding: 0;
  --font-size: calc(min(1.45rem, max(1rem, 1.2*var(--vw))));
}

body{
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  min-height: var(--window-inner-height);
  background: no-repeat url(/backgrounds/paper.png) 0 0;
  background-repeat: repeat;
  font-family: "Computer Modern Serif", "Latin Modern Roman", serif;
}

.katex {
  font-size: 1em;
}

button {
  cursor: pointer;
}
a.clarification {
  color: unset;
  text-decoration-style: dotted;
}

a:after {
  font-family: "Material Design Icons", sans-serif;
  font-size: 0.8em;
  padding-left: 3px;
  display: inline-block;
  content: "Û∞èå";
  /* color: #9e9e9e; */
  /* text-decoration: none; */
}
a{
  text-decoration: none;
}

.ul {
  margin-top: 0;
  margin-bottom: 0;
}